<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

    <!-- O th:fragment="navbar" é a correção principal. O resto é uma melhoria. -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/login/inicio-pf}">Ecomigo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post">
                            <button class="btn btn-link nav-link" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</body>
</html>
